body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b3737;
    color: #333;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #305a7a;
    color: white;
    padding: 20px 20px;
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo de letra más moderno */
    font-size: 24px;
    margin: 0;
    flex-grow: 1; /* Asegura que el título ocupe el espacio a la izquierda */
    font-size: 30px; /* Aumenta el tamaño de la fuente */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra la navegación en la cabecera */
    flex-grow: 2;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    text-align: center; /* Centra el texto del título */
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: #ffffff; /* Color azul para los títulos */
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Asegura que el contenido esté alineado a la izquierda */
}

.text {
    flex: 1; /* Ocupa el espacio disponible dejando espacio para la imagen */
    padding: 20px; /* Padding para hacer el texto más legible */
    background-color: #305a7a; /* Color de fondo claro para el cuadro de texto */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave para darle profundidad */
    margin-right: 20px; /* Espacio entre el texto y la imagen */
    color: rgb(253, 253, 253); /* Asegura que el texto sea negro */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
}

.content-wrapper img {
    width: 60%; /* Ajusta este valor según necesites */
    max-width: 400px; /* Asegura que la imagen no sea demasiado grande */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 3px solid #000; /* Borde negro sólido */
    border-radius: 5px; /* Esquinas ligeramente redondeadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para un efecto de profundidad */
}


footer {
    text-align: center;
    padding: 20px 40px;
    background-color: #305a7a;
    color: white;
}

.images-container img {
    display: block; /* Asegura que cada imagen se trate como un bloque, ocupando toda la línea */
    margin: 0 auto 20px; /* Centra las imágenes y añade espacio debajo de cada una, excepto la última */
    width: 90%; /* Ajusta el ancho al 80% del contenedor, puedes ajustar según tus necesidades */
    max-width: 900px; /* Asegura que las imágenes no excedan un máximo deseado */
}

li {
    line-height: 1.6; /* Ajusta este valor para aumentar o disminuir el espacio */
}

